<div class='row'>
    {{#each courses}}
        <div class='col-sm-6 col-lg-4 mt-4'>
            <a
                class='d-block text-dark text-decoration-none'
                href='/courses/{{this.slug}}'
            >
                <div class='card'>
                    <img
                        src='{{this.imageUrl}}'
                        class='card-img-top'
                        alt='...'
                    />
                    <div class='card-body'>
                        <h5 class='card-title'>{{this.name}}</h5>
                        <p class='card-text'>{{this.description}}</p>
                    </div>
                </div>
            </a>
        </div>
    {{/each}}
</div>